<div class="col-lg-12 mt-3">
  <h4>Covid Vaccine System</h4>
</div>

<br />

<div class="row container-fluid col-lg-12">
  <div class="col-lg-3">
    <ul class="list-group list-group-item bg-dark">
      <h5 class="headings">Registrations</h5>
      <li
        class="list-group-item list-group-item-light mt-2"
        *ngFor="let reg of registrations; let index = index"
      >
        <!--{{index+1}} . {{registrations[index]}}-->
        <!--both the methods works-->
        {{ index + 1 }} .{{ reg }}

        <div>
          <button
            class="btn btn-primary col-lg-5 ml-2 mt-1"
            (click)="next(index)"
          >
            next
          </button>
          <button
            class="btn btn-danger col-lg-5 ml-3 mt-1"
            (click)="delete(index)"
          >
            delete
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-lg-3">
    <ul class="list-group list-group-item bg-dark">
      <h5 class="headings">First Dose</h5>
      <li
        class="list-group-item list-group-item-info mt-2"
        *ngFor="let reg of firstDose; let index = index"
      >
        {{ index + 1 }} . {{ firstDose[index] }}

        <div>
          <button
            class="btn btn-primary col-lg-5 ml-2 mt-1"
            (click)="D1Done(index)"
          >
            D1 Done
          </button>
          <button
            class="btn btn-success col-lg-5 ml-3 mt-1 p-1"
            (click)="undoToRegistrations(index)"
          >
            undo to registrations
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-lg-3">
    <ul class="list-group list-group-item bg-dark">
      <h5 class="headings">Second Dose</h5>
      <li
        class="list-group-item list-group-item-warning mt-2"
        *ngFor="let reg of secondDose; let index = index"
      >
        {{ index + 1 }} . {{ secondDose[index] }}

        <div>
          <button
            class="btn btn-primary col-lg-5 ml-2 mt-1"
            (click)="D2Done(index)"
          >
            D2 Done
          </button>
          <button
            class="btn btn-success col-lg-5 ml-3 mt-1 p-1"
            (click)="undoToFirstDose(index)"
          >
            undo to First Dose
          </button>
        </div>
      </li>
    </ul>
  </div>

  <div class="col-lg-3">
    <ul class="list-group list-group-item bg-dark">
      <h5 class="headings">Booster Dose</h5>
      <li
        class="list-group-item list-group-item-primary mt-2"
        *ngFor="let reg of boosterDose; let index = index"
      >
        {{ index + 1 }} . {{ boosterDose[index] }}
        <div>
          <button
            class="btn btn-success col-lg-5 ml-3 mt-1 p-1"
            (click)="undoToSecondDose(index)"
          >
            undo to Second Dose
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
